/**
 * Viewport Compliance Test / Test-case stylesheet
 *
 * @file test.css
 * @author Rune Lillesveen <rune@opera.com>
 */

@import url("common.css");

/** Propagate the viewport size down to the test-container div. */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/** Test container used to measure width and height of the viewport. */
#test-container {
    width: 100%;
    height: 100%;
}

/** Element used to detect if ERA TextWrap is enabled/disabled. */
#text-wrap-test {
    position: absolute;
    width: 100%;
    min-width: 600px;
    font-size: 10px;
    font-family: Ahem;
    color: transparent;
}

/** Margin for the displayed contents. */
#content {
    padding: 1em;
}
